.chatContainer {
    position: relative;
    /* background-color: var(--light-sky-blue); */
    max-height: 100%;

}

.pendingNoti {
    color: hotpink
}

.messages {
    padding: 0 0 5em;
    max-height: 45vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.left, .right {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
}

.left:first-child, .right:first-child {
    margin: 0;
}

.left {
    align-self: start;
    align-items: start;
}

.right {
    align-self: end;
    align-items: end;
}