.chatContainer {
    position: relative;
    /* background-color: var(--light-sky-blue); */
    overflow-y: scroll;
    max-height: 30em;

}

.pendingNoti {
    position: sticky;
    top: 0;
}

.messages {
    padding: 50px;
}

.left, .right {
    background-color: var(--light-sky-blue);
    margin: 10px 0 10px 0;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
    padding: 5px;
}