.textForm {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inputField {
  flex: 1;
  border: 1px solid var(--danger-red);
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: white;
}

.submitButton {
  padding: 0.5rem 1rem;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--danger-red);
}